<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Contact us</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/sl-slide.css">
    <link rel="stylesheet" href="css/student_contactUs.css">
    <link rel="stylesheet" href="css/body.css">
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <link rel="shortcut icon" href="images/favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Change Password</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
        <!--Header-->
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a id="logo" class="pull-left" href="index.html"></a>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                       <li ><a href="student_login.html">Home</a></li>
                        <li><a href="student_attendence.html">Attendence</a></li>
                        <li><a href="student_result.html">Result</a></li>
                        <li class="active"><a href="change_Password.html">Change Password</a></li>
                        <li><a href="student_profile.html">Profile</a></li>
                        <li ><a href="student_contactUs.html">Contact Us</a></li>
                        <li><a href="index.html">Logout</a></li>
                    </ul>        
                </div>
            </div>
        </div>
    </header>
    <!-- /header -->
<div class="main_page">
    <div class="main_container">

        <div class="frame">
            <div class="heading">
                <h2>
                    Change Your Password
                </h2>
                <p>
                    Password will be sent to your email.
                </p>
            </div>
            <div class="login">
                <p>
                    <input type="password" id="oldPassword" placeholder="OLD PASSWORD">
                </p>
                <p>
                    <input type="text" id="newPassword" placeholder="NEW PASSWORD">
                </p>
                <p>
                    <input type="text" id="confirmPassword" placeholder="CONFIRM PASSWORD">
                </p>
                <p id="wrongdetails" style="display: none;">
                    <label style="color: red;">
                        WRONG PASSWORD.
                    </label>
                </p>
                <p>
                    <button class="login_btn" id="submit">Submit</button>
                </p>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/changePassword.js"></script>
</body>
</html>