.body1{
height:100%;

}
.left1{
width:50%;
background: linear-gradient(#00c6ff,#0072ff);

float:left; 
height:100%;

overflow-y:scroll;

}
.right1{
width:50%; 
background: linear-gradient(#00c6ff,#0072ff);

float:left; 
height:100%;
overflow-y:scroll;
}
